# Module 1 Homework: Docker & SQL

In this homework we'll prepare the environment and practice
Docker and SQL

When submitting your homework, you will also need to include
a link to your GitHub repository or other public code-hosting
site.

This repository should contain the code for solving the homework. 

When your solution has SQL or shell commands and not code
(e.g. python files) file format, include them directly in
the README file of your repository.

## Question 1. Understanding docker first run 

Run docker with the `python:3.12.8` image in an interactive mode, use the entrypoint `bash`.

What's the version of `pip` in the image?

- 24.3.1
- 24.2.1
- 23.3.1
- 23.2.1

In [5]:
# !docker run -it --entrypoint=bash python:3.12.8
# !pip --version

pip 24.3.1 from /usr/local/lib/python3.12/site-packages/pip (python 3.12)

## Question 2. Understanding Docker networking and docker-compose

Given the following `docker-compose.yaml`, what is the `hostname` and `port` that **pgadmin** should use to connect to the postgres database?

```yaml
services:
  db:
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'ny_taxi'
    ports:
      - '5433:5432'
    volumes:
      - vol-pgdata:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: "pgadmin@pgadmin.com"
      PGADMIN_DEFAULT_PASSWORD: "pgadmin"
    ports:
      - "8080:80"
    volumes:
      - vol-pgadmin_data:/var/lib/pgadmin  

volumes:
  vol-pgdata:
    name: vol-pgdata
  vol-pgadmin_data:
    name: vol-pgadmin_data
```

- postgres:5433
- localhost:5432
- db:5433
- postgres:5432
- db:5432

If there are more than one answers, select only one of them

In [ ]:
#docker network create pg-network

In [1]:
# docker run -it \
#   --name postgres \
#   --network pg-network \
#   -e POSTGRES_USER="postgres" \
#   -e POSTGRES_PASSWORD="postgres" \
#   -e POSTGRES_DB="ny_taxi" \
#   -v vol-pgdata:/var/lib/postgresql/data \
#   -p 5433:5432 \
#   postgres:17-alpine

In [ ]:
# docker run -it \
#   -e PGADMIN_DEFAULT_EMAIL="pgadmin@pgadmin.com" \
#   -e PGADMIN_DEFAULT_PASSWORD="pgadmin" \
#   -p 8080:80 \
#   -v vol-pgadmin_data:/var/lib/pgadmin \
#   --network=pg-network \
#   --name pgadmin-2 \
#   dpage/pgadmin4

db:5432

##  Prepare Postgres

Run Postgres and load data as shown in the videos
We'll use the green taxi trips from October 2019:

```bash
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
```

You will also need the dataset with zones:

```bash
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
```

Download this data and put it into Postgres.

You can use the code from the course. It's up to you whether
you want to use Jupyter or a python script.

## Question 3. Trip Segmentation Count

During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, **respectively**, happened:
1. Up to 1 mile
2. In between 1 (exclusive) and 3 miles (inclusive),
3. In between 3 (exclusive) and 7 miles (inclusive),
4. In between 7 (exclusive) and 10 miles (inclusive),
5. Over 10 miles 

Answers:

- 104,802;  197,670;  110,612;  27,831;  35,281
- 104,802;  198,924;  109,603;  27,678;  35,189
- 104,793;  201,407;  110,612;  27,831;  35,281
- 104,793;  202,661;  109,603;  27,678;  35,189
- 104,838;  199,013;  109,645;  27,688;  35,202

In [2]:
import pandas as pd
import requests 
from io import BytesIO 
from sqlalchemy import create_engine
from time import time
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')
engine.connect()

In [3]:
sql_query = """
SELECT
    SUM(CASE WHEN trip_distance <= 1 
            THEN 1 
            ELSE 0 
        END) AS trips_up_to_1_mile,
    SUM(CASE WHEN trip_distance > 1 AND trip_distance <= 3 
            THEN 1 
            ELSE 0 
        END) AS trips_between_1_and_3_miles,
    SUM(CASE WHEN trip_distance > 3 AND trip_distance <= 7 
            THEN 1 
            ELSE 0 
        END) AS trips_between_3_and_7_miles,
    SUM(CASE WHEN trip_distance > 7 AND trip_distance <= 10 
            THEN 1 
            ELSE 0 
        END) AS trips_between_7_and_10_miles,
    SUM(CASE WHEN trip_distance > 10 
            THEN 1 
            ELSE 0 
        END) AS trips_over_10_miles
FROM 
    public.green_taxi_db
WHERE 
    CAST(lpep_pickup_datetime AS DATE) >= '2019-10-01'
    AND CAST(lpep_dropoff_datetime AS DATE) < '2019-11-01';

"""
result_df = pd.read_sql_query(sql_query, engine)
print(result_df)

   trips_up_to_1_mile  trips_between_1_and_3_miles  \
0              104802                       198924

   trips_between_3_and_7_miles  trips_between_7_and_10_miles  \
0                       109603                         27678

   trips_over_10_miles
0                35189

## Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance?
Use the pick up time for your calculations.

Tip: For every day, we only care about one single trip with the longest distance. 

- 2019-10-11
- 2019-10-24
- 2019-10-26
- 2019-10-31

In [8]:
sql_query_2 = """
SELECT
	DT
FROM
	(
		SELECT
			CAST(LPEP_PICKUP_DATETIME AS DATE) DT,
			MAX(TRIP_DISTANCE) MAX_DISTANCE
		FROM
			PUBLIC.GREEN_TAXI_DB
		GROUP BY
			1
	) T
ORDER BY
	MAX_DISTANCE DESC
LIMIT
	1;
"""
result_df_2 = pd.read_sql_query(sql_query_2, engine)
print(result_df_2)

           dt
0  2019-10-31

## Question 5. Three biggest pickup zones

Which were the top pickup locations with over 13,000 in
`total_amount` (across all trips) for 2019-10-18?

Consider only `lpep_pickup_datetime` when filtering by date.
 
- East Harlem North, East Harlem South, Morningside Heights
- East Harlem North, Morningside Heights
- Morningside Heights, Astoria Park, East Harlem South
- Bedford, East Harlem North, Astoria Park

In [7]:
sql_query_3 = """
SELECT
	"Zone"
FROM
	PUBLIC.GREEN_TAXI_DB A
	JOIN PUBLIC.ZONES B ON A."PULocationID" = B."LocationID"
WHERE
	CAST(LPEP_PICKUP_DATETIME AS DATE) = '2019-10-18'
GROUP BY
	"Zone"
HAVING
	SUM(TOTAL_AMOUNT) > 13000;
"""
result_df_3 = pd.read_sql_query(sql_query_3, engine)
print(result_df_3)

                  Zone
0    East Harlem North
1    East Harlem South
2  Morningside Heights

## Question 6. Largest tip

For the passengers picked up in October 2019 in the zone
named "East Harlem North" which was the drop off zone that had
the largest tip?

Note: it's `tip` , not `trip`

We need the name of the zone, not the ID.

- Yorkville West
- JFK Airport
- East Harlem North
- East Harlem South

In [10]:
sql_query_4 = """
WITH
	CTE AS (
		SELECT
			"DOLocationID",
			MAX(TIP_AMOUNT) MAX_TIP
		FROM
			PUBLIC.GREEN_TAXI_DB A
			JOIN PUBLIC.ZONES B ON A."PULocationID" = B."LocationID"
		WHERE
			CAST(LPEP_PICKUP_DATETIME AS DATE) >= '2019-10-01'
			AND CAST(LPEP_PICKUP_DATETIME AS DATE) <= '2019-10-31'
			AND "Zone" = 'East Harlem North'
		GROUP BY
			"DOLocationID"
		ORDER BY
			MAX_TIP DESC
		LIMIT
			1
	)
SELECT
	"Zone"
FROM
	PUBLIC.ZONES A
	INNER JOIN CTE ON A."LocationID" = CTE."DOLocationID";
"""
result_df_4 = pd.read_sql_query(sql_query_4, engine)
print(result_df_4)

          Zone
0  JFK Airport